.CurrentWeather {
    font-family: "Cerebri-Sans", Helvetica, Arial, sans-serif;
    background: white;
    border: 5px solid;
    border-color: #f65282;
    border-radius: 16px;
    padding: 40px;
    color: grey;
  }
  
  .CurrentWeather .logo {
    max-width: 50px;
  }
  
  .CurrentWeather form {
    border-bottom: 1px solid #f9f7fe;
    padding-bottom: 30px;
  }
  
  .CurrentWeather .search-input {
    background: #f9f7fe;
    border: 1px solid palevioletred;
    padding: 15px 20px;
    display: inline-block;
    border-radius: 6px;
    color: gray;
    font-size: 16px;
    height: 50px;
    line-height: 20px;
  }
  
  .CurrentWeather .btn {
    background: Pink;
    font-weight: bold;
    font-size: 16px;
    padding: 15px 0;
    border: none;
    height: 50px;
  }
  
  .CurrentWeather .search-input::placeholder {
    line-height: 20px;
    color: gray;
  }
  
  
  .CurrentWeather ul {
    margin: 0;
    padding: 0;
  }
  
  .CurrentWeather li {
    font-weight: 500;
    margin-bottom: 5px;
    color: gray;
    font-size: 16px;
    line-height: 20px;
    list-style: none;
  }
  
  .CurrentWeather li strong {
    color: #f65282;
    font-weight: normal;
  }
  
  .CurrentWeather .temperature {
    font-weight: bold;
    color: palevioletred;
    margin-left: 5px;
    font-weight: 400;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
    margin-left: 10px;
    font-weight: bold;
    font-size: 80px;
    line-height: 1;
  }
  
   
  .CurrentWeather .unit {
    color: palevioletred;
    font-size: 30px;
    line-height: 36px;
    font-weight: normal;
    position: relative;
    line-height: 1;
    top: -30px;
  }
  
  .CurrentWeather footer {
    font-size: 14px;
    margin-top: 40px;
    line-height: 18px;
    text-align: center;
    
  }
  
  .CurrentWeather footer a {
    color: palevioletred;
  }